/*==========================================================================
  GENERAL
========================================================================== */
#main{
	margin-top:20px;
	margin-bottom:80px;
}


/* ======== HEADING ======== */

.title-md{
	font-family: 'Libre Baskerville', serif;
	margin-bottom: 15px;
	line-height: 1.5em;
	&.wth-col{
		color: #fff;
	}
	&.blck-col{
		color: #000;
	}
	@media(max-width:480px){
		font-size:20px;
	}
}

/* ======== BUTTON ======== */


.btn{
	font-size: 14px;
	text-transform: uppercase;
	transition: all 250ms ease;
	letter-spacing: 1px;
	font-weight: 600;
	border-radius: 0;
	padding: 6px 16px;
	&:hover,
	&:focus{}

}

.btn-transparent{
	position:relative;
	text-transform:none;
	border:2px solid #fff;
    padding: 14px 29px 14px 21px;
    font-weight:400;
    color:#fff;
	&:before{
		content:'';
	    background-image: url(../img/arrow-right-white.png);
	    width: 9px;
	    height: 14px;
	    background-size: 9px 14px;
	    background-repeat: no-repeat;
	    background-position: center;
	    position: absolute;
	    right:11px;
	    top: 0;
	    bottom: 0;
	    margin: auto;
		
	}
	&:hover,
	&:focus{
		background-color: $blue;
		border-color:$blue;
		color:#fff;
	}
	&.sm-black{
		color: #616161;
		border-color:#616161;
		&:before{
			background-image: url(../img/arrow-right-sm-black.png);
		}
		&:hover,
		&:focus{
			background-color: $blue;
			border-color:$blue;
			color:#616161;
		}
		&.mini{
			padding: 10px 15px;
		}
	}
	&.sm-black2{
		padding: 11px 35px;
		color: #616161;
		border-color:#616161;
		text-transform: uppercase;
		&:before{
			content:none;
		}
		&:hover,
		&:focus{
			background-color: $blue;
			border-color:$blue;
			color:#fff;
		}
	}
}

.btn-sm-black{
	border:1px solid #616161;
	color: #616161;
	background-color: transparent;
	padding: 9px 40px;
	&:hover,
	&:focus{
		background-color: $blue;
		border-color:$blue;
		color:#fff;
	}
	&.mini{
		padding: 10px 15px;
	}
}

/* ================ SPACE ================ */


.space30 {
  height: 30px;
  display: block;
  width: 100%;
}

.space50 {
  height: 50px;
  display: block;
  width: 100%;
}

.space80 {
  height: 50px;
  display: block;
  width: 100%;
}

.space20 {
  height: 20px;
  display: block;
  width: 100%;
}


.cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* ================ ROW CUSTOMIZE ================ */
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}


.row.no-gutter > [class*='col-'],
.row.no-gutter > [class*='col-'] > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
  position: inherit;
}


.row.rw-11 {
    margin-right: -4px;
    margin-left: -4px;
}


.row.rw-11 > [class*='col-'],
.row.rw-11 > [class*='col-'] > [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
    position: inherit;
}


/* ================ FORM ========================== */

.form-control{
	border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ================ MARGIN ========================== */
.no-mb{
	margin-bottom: 0 !important;
}

.m0{
	margin: 0 !important;
}



// Wrapper

.wrapper{
	padding-bottom: 0 !important;
}


// dots

/* Progress Tracker */
.progress-tracker {
  position: fixed;
  top: 50%;
  right: 30px;
  z-index: 9;
  @media(max-width:992px){
	display:none !important;
  }
}
.progress-tracker.hide {
  width: 0px;
}
.progress-tracker.hide ul li .pt-description,
.progress-tracker.hide.active ul li .pt-description,
.progress-tracker.hide.constant ul li.active .pt-description {
  display: none;
}
.progress-tracker ul li {
  width: 10px;
  height: 10px;
  position: relative;
  background-color: transparent;
  border: 1px solid #000;
  margin-bottom: 10px;
  list-style-type: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.progress-tracker ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.progress-tracker ul li .pt-description {
  display: none;
  position: absolute;
  top: -2px;
  right: 25px;
  padding: 3px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #e9ebea;
  white-space:nowrap;
}
.progress-tracker ul li.active {
  background-color: $blue;
  border-color: $blue;
}
.progress-tracker.constant ul li.active .pt-description {
  display: block;
}

.pt-section {
	// height: 800px;
}

// #ptsection-one,
// #ptsection-three {
// 	background-color: #5f6f81;
// }

// #ptsection-two,
// #ptsection-four {
// 	background-color: #28292e;
// }

.top-slide{
	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
	.wrap-slide{
		.imageslides{
			position:relative;
			background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    -o-background-size: cover;
		    padding: 3% 0 4%;
		    .desc{
		    	max-width: 500px;
    			padding-left: 78px;
    			h1{
    				color: #fff;
	    			font-weight: 100;
	    			font-size: 45px;
    				span{
						font-weight: 600;
						color: $blue;
    				}
    			}
    			p{
    				color: #fff;
    			}
    			@media(max-width:767px){
					padding-left: 10px;
    				padding-right: 10px;
    			}
		    }

		}
	}
	
	.slick-dots{
		bottom: 78px;
	    text-align: left;
	    padding-left: 50px;
		li{
			margin: 0 16px;
		}
	}

	.slick-dots li button:before{
		content:url('../img/dots-transparent.png');
		opacity: 1;
	}

	.slick-dots li.slick-active button:before{
		content:url('../img/dots.png');	
		opacity: 1;
	}

	.slick-dotted.slick-slider{
		margin-bottom: 0;
	}


}



.single-desc{
	position:relative;
	.title-area{
		position:relative;
	    padding-bottom: 10px;
	     margin-bottom: 30px;
		&:before{
			content:'';
			background-color: $blue;
			height:2px;
			width:30px;
			bottom:0;
			position:absolute;
		}
		h5{
			font-weight:600;
			font-size: 13px;
		}
		h2{
			margin-top: 0;
			font-size: 26px;
		}
	}
	p{
		color: #616161;
	}
	&.over{
		padding: 45% 0;
		background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    padding-left: 55px;
    	padding-right: 55px;
	}
	&.white-font{
		.title-area{
			h2, h5{
				color: #fff;
			}
		}
		p{
			color:#fff;
		    position: relative;
			margin-bottom: 40px;
		}
	}
	.overlay{
		background: rgba(0, 0, 0, 0.7);
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	
	.overlay-hover{
		background: rgba(0, 145, 234, 0.6);
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	    opacity: 0;
	}
	&:hover{
		.overlay-hover{
			opacity: 1;
		}
	}
}

.who-section{
	// padding: 10% 0 10%;
	@media(max-width:480px){
		padding: 10% 0 10%;
	}
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    figure{
    	@media(max-width:992px){
			margin-top: 30px;
    	}
    }
}

.who-point-section{
	background: #f5f5f5;
	// padding: 50px 0;
	@media(max-width:480px){
		padding: 50px 0;
	}
	.wrapp-point{
		display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      align-items: center;
      -webkit-align-items: center;
		.who-point{
			padding: 30px 34px 130px;
			width:54%;
			@media(max-width:767px){
				width: 100%;
	    	}
		}
		figure{
			width: 45%;
			position:relative;
			@media(max-width:767px){
				width: 100%;
	    	}
	    	img{
	    		// width: 85%;
	    	}
		}
	}

	.single-desc{
		padding-left: 20px;
		@media(min-width:992px){
			padding-top: 70px;
		}
		@media(max-width:767px){
			padding-left: 0;
			padding-top: 30px;
		}
	}

	// .container{
	// 	@media(min-width:1200px) and (max-width:1440px){
	// 		width:100%;
	// 		padding-left: 0;
	// 		padding-right: 0;
	// 	}
	// }

}

.wrapp-point{
	.who-point{
		background: #03a9f4;
		position:relative;
		@media(max-width:767px){		
			overflow: hidden;
		}
		&:before{
			content:'';
	        background-image: url("../img/transparent-img.png");
	        width:275px;
	        height:275px;
	        background-size: 275px 275px;
	        background-repeat:no-repeat;
	        background-position:center;
            position: absolute;
			right: -110px;
			bottom: 0;
		    top: -7px;
		    margin: auto;

		}
		ul{
			padding-left: 14px;
			list-style:none;
			li{
			    margin-bottom: 2px;
				position:relative;
				&:before{
					content: "\f0da";
				    font-family: "FontAwesome";
				    position: absolute;
				    left: -14px;
				    font-size: 12px;
				    top: 5px;
				}
			}
		}
		.button-point-area{
			position:absolute;
			bottom:25px;
			@media(max-width:767px){
				left:0;
				right:0;
				text-align: center;
	    	}
			ul{
				padding-left: 0;
				li{		
					display: inline-block;
					z-index: 1;
					&:first-child{
						left:-16px;
						@media(max-width:767px){
							left: 0;
				    	}
					}
					&:last-child{
						right:-123px;
						@media(max-width:767px){
							right: 0;
				    	}
					}
					&:before{
						content:'';
					}
					.btn{
						position:relative;
						color: #000;
						text-transform:none;
						&:hover, &:focus, &.active{
							background: #fff;
							box-shadow:none;
						}
						&.prev{	
							padding: 14px 30px;
		    				padding-left: 50px;
		    				@media(max-width:767px){
								padding: 14px 23px;
    							padding-left: 45px;
					    	}
							&:before{
								content:'';
							    background-image: url(../img/arrow-left.png);
							    width: 9px;
							    height: 14px;
							    background-size: 9px 14px;
							    background-repeat: no-repeat;
							    background-position: center;
							    position: absolute;
							    left:19px;
							    top: 0;
							    bottom: 0;
							    margin: auto;
								
							}
						}
						&.next{	
							padding: 14px 30px;
		    				padding-right: 50px;
		    				@media(max-width:767px){
								padding: 14px 23px;
    							padding-right: 45px;
					    	}
							&:before{
								content:'';
							    background-image: url(../img/arrow-right.png);
							    width: 9px;
							    height: 14px;
							    background-size: 9px 14px;
							    background-repeat: no-repeat;
							    background-position: center;
							    position: absolute;
								right: 19px;
							    top: 0;
							    bottom: 0;
							    margin: auto;						
							}
						}
					}
				}
			}
		}
	}
	h2{
		color: #fff;
		font-weight: 600;
		font-size: 45px;
		letter-spacing: 3px;
		margin-top: 0;
	}
	h3{
		color: #fff;
		font-weight: 600;
	}
	ul{
		li{
			color: #fff;
		}
	}
}

.over-section{
	.container{
		@media(min-width:1200px) and (max-width:1440px){
			width:100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.solution-section{
	background: #f5f5f5;
    // padding: 75px 0;
    .single-desc{
    	padding-right: 35px;
        margin-top: 80px;

    	p{
    		margin-bottom: 30px;
    	}
    }
}


.section3-content{
	position:relative;
	list-style:none;
	@media(max-width:992px){
		margin-top: 50px;
	}
}

.section3-content li{
	float: left;
    width: 50%;
    position: relative;
    text-align: center;
    &:before{
    	content: "";
	    display: block;
	    padding-top: 100%;
    }

    @media (min-width: 768px){
    	width: 50%;
    }

    span{
    	display: block;
	    width: 100%;
	    line-height: 1.5em;
	   	position: absolute;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    height: 60px;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 600;
	    font-size: 20px;
    }

    .number{
    	position:absolute;
    	right:-8px;
    	bottom:0;
    	z-index: 1;
    	cursor: default;
    	h2{
	    	color:#d1d1d1;
	    	color: rgba(255, 255, 255, 0.2);
		    font-size: 100px;
		    font-weight: 600;
		    margin-top: 0;
		    margin-bottom: 0;
		    line-height: 0.76em;
			letter-spacing: 5px;
			@media(max-width:480px){
				font-size: 80px;
			}
		}
    }

     &:hover, &:focus{
    	a{
    		background-color: $blue;
    	}
    }
}


@media (min-width: 768px){
	.section3-content {
	    max-width: 500px;
	}
}


.section3-content li a{

	display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #c5c5c5;
    color: #fff;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    cursor: default;

}
    


@media (min-width: 768px){
	.section3-content li:nth-child(2n+2) a {
	    border-right: 1px solid #f5f5f5;
	}
}

.list-socmed{
	text-align: center;
	margin-top: 60px;
    margin-bottom: 15px;
    padding-left: 0;
	li{
		display:inline-block;
		margin-right: 8px;
		&:last-child{
			margin-right: 0;
		}
		a{
			background: #ccc;
			padding: 9px;

		}
		&.fb{
			a{
				&:hover, &.focus{
					background-color: #3b5999;
				}
			}
		}
		&.rss{
			a{
				&:hover, &.focus{
					background-color: #f57d00;
				}
			}
		}
		&.twitter{
			a{
				&:hover, &.focus{
					background-color: #55acee;
				}
			}
		}
		&.tumbler{
			a{
				&:hover, &.focus{
					background-color: #34465d;
				}
			}
		}
	}
}

.about-section{
	// padding: 15% 0 18%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    .single-desc{
    	max-width:444px;
    }
    p{
    	margin-bottom: 30px;
    }
}

.contact-section{
	background: #f5f5f5;
	position:relative;
	@media(max-width:992px){	
		 padding-top: 70px;
		 .fp-tableCell{
			 display:block;
			height:auto !important;
		}
	}

   
	.name{
		padding-left: 0;
		@media(max-width:992px){
			padding-right:0;
		}
	}
	.email{
		padding-right: 0;
		@media(max-width:992px){
			padding-left:0;
		}
	}
	.form-group{
		margin-bottom: 25px;
		.form-control{
			border-left: none;
		    border-top: none;
		    border-right: none;
		    padding-left: 0;
		    background-color: transparent;
		    &:focus{
		    	box-shadow:none;
		    }
		}
	}
	.contact-form{
		margin-top: 30px;
		button{
			margin-top: 20px;
		}
	}
	.contact-detail{
		background: #fff;
	    padding: 40px;
	    padding-top: 50px;
    	padding-bottom: 60px;
     	margin-right: 23px;
     	@media(max-width:992px){
			margin-top: 50px;
			margin-right: 0;
     	}
		h4{
			text-align: center;
			margin-top: 0;
			margin-bottom: 30px;
		}
		.detail{
			text-align: center;
			margin-bottom: 25px;
			h5{
				font-family: 'Roboto Slab', serif;
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 3px;
				span{
					display:inline-block;
					border-bottom:1px solid #c5c5c5;
					padding-bottom: 4px;
				}
			}
			p{
				color: #616161;
				margin-bottom: 0;
			}
		}
	}
}


.switch-section{
	overflow:hidden;
}

@media (min-width: 992px){
	.section2-1, .section2-2 {
	    height: 100%;
	}
}

@media (min-width: 768px){
	.section2-1, .section2-2 {
	    float: left;
	    width: 50%;
	    height: 700px;
	}
}

@media (min-width: 992px){
	.on-about .section2-1, .on-about .section2-2 {
	    height: 400px;
	}
}

.section2-1, .section2-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
}

@media (min-width: 768px){
	.section2-1.shorter, .section2-2.shorter {
	    width: 44%;
	}
}

@media (min-width: 768px){
	.section2-1.wider, .section2-2.wider {
	    width: 56%;
	}
}

@media (min-width: 768px){
	.section2-content {
	    padding: 0;
	    width: 100%;
	    height: 100%;
	    position: relative;
	}
}

.section2-content {
    background-color: rgba(0, 0, 0, 0.75);
    // padding: 60px 50px;
    text-align: left;
    color: #fff;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    @media(max-width:767px){
		padding: 60px 50px;
    }
   
}

@media (min-width: 768px){
	.section2-content-floating {
	    position: absolute;
	    width: 100%;
	    top: 43%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
}

@media (min-width: 992px){
	.section2-content-floating{
		bottom:0;
	}
}

@media (max-width: 992px){
	.section2-content-floating{
		bottom:auto;
	}
}

.section2-content:hover{
	background-color: rgba(44, 96, 129, 0.91);
}

.section2-content-floating h2{
	position:relative;
	padding-bottom: 20px;
    margin-bottom: 25px;
}

.section2-content-floating h2{
	&:before{
		content:'';
		background-color: $blue;
		height:2px;
		width:30px;
		bottom:0;
		position:absolute;
	}
}



@media (min-width: 768px){
	.section2-content-floating h2 {
	    font-size: 26px;
	    width: 280px;
	    margin-left: auto;
	    margin-right: auto;
	}
}

@media (min-width: 1200px){
	.section2-content-floating p, .section2-content-floating h2 {
	    width: 478px;
	}
}

@media (min-width: 992px){
	.section2-content-floating p {
	    width: 480px;
	    margin-left: auto;
	    margin-right: auto;
	}
}

@media (min-width: 768px) and(max-width:992px){
	.section2-content-floating p {
	    font-size: 15px;
	    width: 280px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 25px;
	}
}


.switch-section{
	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
	.container{
		@media(max-width:1440px){
			width:100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.benefits-list{
	ul{
		display: -webkit-box;
	      display: -moz-box;
	      display: -ms-flexbox;
	      display: -webkit-flex;
	      display: flex;
	      flex-direction: row;
	      -webkit-flex-direction: row;
	      flex-wrap: wrap;
	      -webkit-flex-wrap: wrap;
	      padding-left:0;
	      list-style:none;
	      margin-bottom: 0;
		li{
			
			flex:1;
			position:relative;
			overflow:hidden;
			padding: 50px 70px;
			@media(min-width:480px) and (max-width:992px){
				flex:none;
				width: 50%;
			}
			@media(max-width:480px){
				flex:none;
				width: 100%;
			}
			&.first{
				background: #0385f4;
				&:before{
					content: '';
				    background-image: url(../img/b1.png);
				    width: 300px;
				    height: 242px;
				    background-size: 300px 242px;
				    background-repeat: no-repeat;
				    background-position: center;
				    position: absolute;
				    right: -115px;
				    bottom: 0;
				    margin: auto;
				}
			}

			&.second{
				background: #03a9f4;
				&:before{
					content: '';
				    background-image: url(../img/b2.png);
				    width: 280px;
				    height: 247px;
				    background-size: 280px 247px;
				    background-repeat: no-repeat;
				    background-position: center;
				    position: absolute;
				    right:  -87px;
				    bottom: 0;
				    margin: auto;
				}
			}

			&.third{
				background: #03bef4;
				&:before{
					content: '';
				    background-image: url(../img/b3.png);
				    width: 166px;
				    height: 248px;
				    background-size: 166px 248px;
				    background-repeat: no-repeat;
				    background-position: center;
				    position: absolute;
				    right: -4px;
				    bottom: 0;
				}
			}

			&.fourth{
				background: #54d9ff;
				&:before{
					content: '';
				    background-image: url(../img/b4.png);
				    width: 185px;
				    height: 240px;
				    background-size: 185px 240px;
				    background-repeat: no-repeat;
				    background-position: center;
				    position: absolute;
				    right: -4px;
				    bottom: 0;
				}
			}
		}
		h4{
			font-size: 30px;
		    color: #fff;
		    font-weight: 600;
		    margin-top: 0;
    		margin-bottom: 20px;
		}
		p{
			color: #fff;
		}	
	}
	.container{
		@media(max-width:1440px){
			width:100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.what-can-do-section{
	overflow:hidden;
	@media(max-width:922px){
		.space50{
			display:none;
		}
	}
	.container{
		@media(max-width:1440px){
			width:100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.eqHeight{
		@media(max-width:992px){
			height:auto !important;
		}
	}
}

.right-sec{
	background-color: #f5f5f5;
}

#sync1 {
  .item {
    padding: 40px 0px 65px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
}


.item-desc{
	padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 56px !important;
    padding-bottom: 81px !important;
    position:relative;
	h3{
		color: #000;
		margin-top: 0;
		font-weight: 600;
    	margin-bottom: 20px;
	}
	p{
		color: #616161;
		position:relative;
	}
	.number-desc{
		position: absolute;
	    right: -8px;
	    bottom: 0;
	    cursor: default;
	    h2{
	    	color: #dfdfdf;
		    font-size: 175px;
		    font-weight: 600;
		    margin-top: 0;
		    margin-bottom: 0;
		    line-height: 0.68em;
	    }
	}
}

.wrapp-sync2{
	padding: 30px 70px;
	background: #fff;
}


#sync2 {
  .item {
    // background: #C9C9C9;
    padding: 30px 10px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    h4{
    	color: #000;
    	font-weight: 600;
    }
  }
  .current .item{
    // background: #0c83e7;
  }
}



.owl-theme {
  .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
    [class*='owl-'] {
      transition: all .3s ease;
      &.disabled:hover {
       background-color: #D6D6D6;
      }   
    }
    
  }
}

//arrows on first carousel
#sync1.owl-theme {
  position: relative;
  .owl-next, .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    // top: 50%;
    top: -191px;
  }
  .owl-prev {
    left: 46px;
  }
  .owl-next {
    right: 46px;
  }
}

#sync1 .owl-stage{
	background-color: #f5f5f5;
}


#sync2 .current .item img {
    opacity: 1;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

#sync2 .current .item h4 {
    opacity: 1;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

#sync2 .item img {
    display: block;
    margin: 0 auto;
    // height: 60px;
    margin-bottom: 10px;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    opacity: .3;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

#sync2 .item h4 {
    display: block;
    margin: 0 auto;
    // height: 60px;
    margin-bottom: 10px;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    opacity: .3;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
}

.owl-stage{
	transition: 1.5s !important;
    transition-property: initial;
    transition-duration: 1.5s !important;
    transition-timing-function: initial;
    transition-delay: initial;
}

.owl-theme .owl-nav [class*=owl-]{
	background-color:transparent;
}

.owl-theme .owl-prev [class*=owl-]{
	background-color:transparent;
}

.owl-theme .owl-nav [class*=owl-]:hover{
	background-color: transparent;
}


.owl-theme .owl-prev{
	content:'';
	    background-image: url(../img/arrow-left.png) !important;
	    width: 9px !important;
	    height: 14px !important;
	    background-size: 9px 14px !important;
	    background-repeat: no-repeat !important;
	    background-position: center !important;

}
.owl-theme .owl-prev:hover{
	opacity: .5;	
}

.owl-theme .owl-next{
	content:'';
	    background-image: url(../img/arrow-right.png) !important;
	    width: 9px !important;
	    height: 14px !important;
	    background-size: 9px 14px !important;
	    background-repeat: no-repeat !important;
	    background-position: center !important;
}

.owl-theme .owl-next:hover{
	opacity: .5;	
}

.top-span-section{
	// padding: 17% 0 20%;
	&.fp-section{
		@media(max-width:992px){
			padding: 17% 0 20%;
		}
	}
	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	.desc{
		max-width: 500px;
		h1{
			font-weight: 600;
    		color: #03a9f4;
    		font-size: 45px;
		}
		p{
			color: #fff;
		}
	}
}

.benefits-span-section{
	background: #f5f5f5;
	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
			
		}
	}
	.single-desc{
		padding: 40px 0;
	}
}

.what-can-do-left{
	padding: 10% 0 52%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position:relative;
    @media(max-width:992px){
		padding:10% 0;
    }
    .overlay{
    	background: rgba(0,0,0,0.75);
    	position:absolute;
    	height:100%;
    	width:100%;
    	top:0;
    }
    .overlay2{
    	background-color: rgba(51, 131, 179, 0.56);
    	position:absolute;
    	height:100%;
    	width:100%;
    	top:0;
    }
    .single-desc{
    	padding: 74px;
		padding-top: 41px;
    	padding-right: 90px;

    	h2{
			color: #fff;
    	}
    	p{
    		color: #fff;
    	}
    	.title-area{
    		max-width:200px;
    	}
    }
}

.top-about-section{
	// padding: 17% 0 20%;
	&.fp-section{
		@media(max-width:992px){
			padding: 17% 0 20%;
		}
	}
	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	.desc{
		max-width: 500px;
		h1{
			font-weight: 600;
    		color: #03a9f4;
    		font-size: 45px;
		}
		p{
			color: #fff;
		}
	}
}

.year-list{
	ul{
		display: -webkit-box;
	      display: -moz-box;
	      display: -ms-flexbox;
	      display: -webkit-flex;
	      display: flex;
	      flex-direction: row;
	      -webkit-flex-direction: row;
	      flex-wrap: wrap;
	      -webkit-flex-wrap: wrap;
	      padding-left: 0;
	      list-style:none;
	      margin-bottom: 0;
		li{
			
			flex:1;
			position:relative;
			overflow:hidden;
			padding: 50px 70px;
			@media(min-width:480px) and (max-width:992px){
				flex:none;
				width: 50%;
			}
			@media(max-width:480px){
				flex:none;
				width: 100%;
			}
			&.first{
				background: #0385f4;
				
			}

			&.second{
				background: #03a9f4;
				
			}

			&.third{
				background: #03bef4;
				
			}

			&.fourth{
				background: #54d9ff;
				
			}
		}
		h2{
			font-size: 50px;
		    color: #fff;
		    font-weight: 400;
		    margin-top: 0;
    		margin-bottom: 20px;
    		position:relative;
    		padding-bottom: 20px;
    		text-align: center;
    		&:before{
    			content: '';
			    background-color: rgba(255, 255, 255, 0.3);
			    height: 2px;
			    width: 30px;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			    position: absolute;
    		}
		}
		p{
			color: #fff;
			text-align: center;
		}	
	}

}

.btc-our-team-section{
	background: #f5f5f5;
	// padding: 40px 0;
}

// Attorneys

.attorneys-pict{
	padding-left:0;
	list-style:none;
	padding-left:0;
	list-style: none;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 40px 0;
	li{
		position:relative;
		margin-bottom: 27px;
		overflow:hidden;
		margin:8px;
		.overlay{
			background: rgba(3, 169, 244, 0.7);
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    opacity:0;
		    transition: all 250ms ease;
		}
		figcaption{
			position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    width: 210px;
		    height: 70px;
		    text-align: center;
		    opacity:0;
		    transition: all 250ms ease;
		    
		    h4{
				position:relative;
				color: #fff;
				font-weight: 600;
			    text-transform: uppercase;
			    padding-bottom: 15px;
				&:before{
	    			content: '';
				    background-color: #fff;
				    height: 2px;
				    width: 30px;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    margin: auto;
				    position: absolute;
	    		}
		    }
		    p{
				color:  rgba(255, 255, 255, 0.3);
				margin-bottom: 18px;
				font-weight: 600;
		    }
		}
		&:hover{
			.overlay{
				opacity:1;
			}
			figcaption{
				opacity:1;
			}
		}
	}
}

.our-partner-section{
	background: #f5f5f5;
	// padding: 40px 0;

	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
	@media(max-width:992px){
		.space50{
			display:none;
		}
	}
	.partners-list{
		padding: 20px 0;
		list-style:none;
		li{
			display:inline-block;
		    margin: 11px;
		}
	}
}

.top-solutions-section{
	// padding: 17% 0 20%;
	&.fp-section{
		@media(max-width:992px){
			padding: 17% 0 20%;
		}
	}
	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	.desc{
		max-width: 500px;
		h1{
			font-weight: 600;
    		color: #03a9f4;
    		font-size: 45px;
		}
		p{
			color: #fff;
		}
	}
}

.solutions-content-section{
	background: #f5f5f5;
	overflow: hidden;

	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
	&.last{
		img{
			height: 46em;
				@media(max-width:992px){
				height:auto;
				width: auto;
			}
		}	
	}
	img{
		height: 48em;
		width: 100%;
		@media(max-width:992px){
			height:auto;
			width: auto;
		}
	}
	.container{
		@media(max-width:1440px){
			width:100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.desc{
		padding: 72px;
		@media(max-width:992px){
			padding: 20px;
		}
		h2{
			margin-top: 0;
			color:$blue;
			font-weight: 600;
			font-size: 40px;
    		margin-bottom: 20px;
		}
		h4{
			font-weight: 600;
			margin-bottom: 20px;
		}
		p{
			color: #616161;
		}
		@media(min-width:99px){
			&.left{
				padding-left: 20px;
			}
			&.right{
				padding-right: 20px;
			}
		}
	}
}

.top-contact-section{
	// padding: 17% 0 20%;
	&.fp-section{
		@media(max-width:992px){
			padding: 17% 0 20%;
		}
	}
	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	.desc{
		max-width: 500px;
		h1{
			font-weight: 600;
    		color: #03a9f4;
    		font-size: 45px;
		}
		p{
			color: #fff;
		}
	}
}

.map-section{
	background: #f5f5f5;
	// padding: 32% 0 20%;
	// &.fp-section{
	// 	@media(min-width:767px) and (max-width:992px){
	// 		padding: 45% 0 0%;
	// 	}
	// }
	&.fp-section, .fp-tableCell{
		@media(max-width:992px){
			display:block;
			height:auto !important;
		}
	}
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  //   @media(max-width:767px){
		// padding: 100% 0 0;
  //   }
	.box-map{
		position:relative;
		.inner{
			position:absolute;
			right:0;
			background: rgba(3,169,244,0.6);
		    padding: 35px 30px;
			max-width: 270px;
		    // bottom: -60px;
		    bottom: 240px;
		    
			h4{
				text-align: center;
				margin-top: 0;
				margin-bottom: 30px;
				color: #fff;
			}
			.detail{
				text-align: center;
				margin-bottom: 25px;
				&:last-child{
					margin-bottom: 0;
				}
				h5{
					color: #fff;
					font-family: 'Roboto Slab', serif;
					font-weight: 700;
					text-transform: uppercase;
					margin-top: 0;
					margin-bottom: 3px;
					span{
						display:inline-block;
						border-bottom:1px solid #fff;
						padding-bottom: 4px;
					}
				}
				p{
					color: #fff;
					margin-bottom: 0;
				}
			}
		}
	}
	.foo-copy{
		@media(min-width:992px){
			padding: 5px 0 22px;
		}
	}
}

#map {
    width: 100%;
    height: 600px;
    position:relative;
	@media(min-width:992px){
    	top: -22px;
	}
}

.top-blog-section{
	padding: 5% 0 6%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	.desc{
		max-width: 500px;
		h1{
			font-weight: 600;
    		color: #03a9f4;
    		font-size: 45px;
		}
		p{
			color: #fff;
		}
	}
}

.blog-content-section{
	background: #f5f5f5;
	padding: 60px 0;
	@media(max-width:992px){
		.row:before, .row:after {
			display:inline-block;
		}
	}
	.single-blog-content{
		margin-bottom: 60px;
		figure{
			img{
				-webkit-transition: all 0.3s;
			    -moz-transition: all 0.3s;
			    -ms-transition: all 0.3s;
			    -o-transition: all 0.3s;
			    transition: all 0.3s;
				&:hover{
					opacity: .8;
				}
			}
		}
		.desc{
			.date{
				color: #616161;
				margin-top: 10px;
			}
			h4{
				font-weight: 600;
				line-height: 1.3;
				a{
					color: #000;
					&:hover, &:focus{
						color: $blue;
					}
				}
			}
			p{
				color: #616161;
			}
			.btn{
				margin-top: 15px;
			}
		}
	}

	nav{
		text-align: center;
	}
}



.pagination>li:first-child>a, .pagination>li:first-child>span{
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination>li>a, .pagination>li>span{
	color: #616161;
    border: 1px solid #ccc;
}

.pagination>li>a:hover, .pagination>li>a:focus, .pagination>li>span:hover, .pagination>li>span:focus{
	color: #fff;
	background-color: $blue;
	border-color:$blue;
}

.blog{
	.progress-tracker{
		display:none !important;
	}
}

.content-blog-detail{
	.inner-content{	
		border-bottom:1px solid #dee2e7;
		margin-bottom: 50px;
		.date{
			color: #616161;
			margin-top: 30px;
			margin-bottom: 10px;
		}
		.title-blog{
			color:$blue;
			font-weight: 600;
			margin-top: 10px;
			margin-bottom: 15px;
		}
		ul, ol{
			padding-left: 15px;
			li{
				color: #616161;
			    line-height: 1.8em;		
			}
		}
		p{
			color: #616161;
		}
		.categories{
			margin: 30px 0;
			h4{
				float:left;
				margin-right: 5px;
				color: #616161;
				text-transform: uppercase;
				font-family: 'Roboto Slab', serif;
				font-size: 14px;
			}
			a{
				float:left;
				border:1px solid #c8c8c8;
				color: #616161;
				padding: 5px 12px;
			    margin: 0 4px;
			    text-transform: uppercase;
			    font-size: 13px;
			    margin-top: 2px;
				&:hover, &:focus{
					color:#fff;
					border-color:$blue;
					background-color: $blue;
				}
			}
		}
	}
}


.blog-detail-section{
	background: #f5f5f5;
	padding: 60px 0;
}

.comment-section{
	.name{
		padding-left: 0;
		@media(max-width:992px){
			padding-right:0;
		}
	}
	.email{
		padding-right: 0;
		@media(max-width:992px){
			padding-left:0;
		}
	}
	.form-group{
		margin-bottom: 25px;
		.form-control{
			border-left: none;
		    border-top: none;
		    border-right: none;
		    padding-left: 0;
		    background-color: transparent;
		    &:focus{
		    	box-shadow:none;
		    }
		}
	}
	.contact-form{
		margin-top: 30px;
	    margin-bottom: 30px;
		h4{
			margin-bottom: 20px;
			font-weight: 600;
		    font-family: 'Roboto Slab', serif;
		    color: #212121;
		}
		button{
			margin-top: 20px;
		}
	}
	
}

.wdg{
	border-bottom:1px solid #e2e2e2;
    margin-bottom: 30px;
    padding-bottom: 20px;
    &:last-child{
    	border:none;
    }
	h4{
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.single-post-wdg{
		margin-bottom: 20px;
		figure{
			display:inline-block;
			float:left;
			width: 16%;
			@media(max-width:992px){
				width: 7%;
			}
			@media(max-width:767px){
				width: 100%;
			}
			img{
				-webkit-transition: all 0.3s;
			    -moz-transition: all 0.3s;
			    -ms-transition: all 0.3s;
			    -o-transition: all 0.3s;
			    transition: all 0.3s;
				&:hover{
					opacity: .8;
				}
			}
		}
		.desc{
			display:inline-block;
		    width: 80%;
	    	margin-left: 10px;
	    	@media(max-width:767px){
				width: 100%;
				margin-left: 0;
				margin-top: 10px;
			}
	    	h5{
	    		margin-top: 0;
	    		margin-bottom: 8px;
	    		font-weight: 600;
	    		a{
	    			color:#000;
	    			&:hover, &:focus{
	    				color:$blue;
	    			}
	    		}
	    		
	    	}
	    	.date{
				font-size: 12px;
				color: #616161;
			}
	    	p{
	    		color: #616161;
	    	}
		}
	}
	.cat{
		padding-left: 0;
		list-style:none;
		li{
			margin-bottom: 10px;
			a{
				color: #616161;
				&:hover, &:focus{
    				color:$blue;
    			}
			}
		}
	}
}

.ui-datepicker-prev span{
	background-image: url(../img/arrow-left-date.png) !important;
    background-position: 0px 0px !important;
    background-size: 5px 10px;
    width: 5px;
    height: 10px;
}

.ui-datepicker-next span{
	background-image: url(../img/arrow-right-date.png) !important;
    background-position: 0px 0px !important;
    background-size: 5px 10px;
    width: 5px;
    height: 10px;
}




.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	border-color: transparent;
    background: transparent;
}



.ui-widget-header .ui-state-hover{
	border:none;
}

.ui-datepicker{
	border:none;
    padding: 10px 20px;
}

.ui-datepicker .ui-datepicker-title{
	position:relative;
	padding: 35px 0;
}

span.ui-datepicker-month{
	position:absolute;
	left: 0;
    right: 0;
    bottom:15px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

span.ui-datepicker-year{
	position:absolute;
	left: 0;
    right: 0;
    top: 7px;
    font-size: 24px;
    border-bottom: 2px solid $blue;
    width: 70px;
    margin: auto;
    padding-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.ui-datepicker .ui-datepicker-prev{
	left:-100px;
	right:0;
	margin:auto;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	top:61px;
	z-index:9;
}

.ui-datepicker .ui-datepicker-next{
	left:0;
	right:-120px;
	margin:auto;
}

.ui-widget-header{
	background: transparent;
    border: none;
}

.ui-datepicker th{
	text-transform: uppercase;
	color: #a6a6a6;
	font-family: 'Roboto Slab', serif;
}



.ui-state-default, .ui-widget-content .ui-state-default{
	background-color: transparent;
	border-color: transparent;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background-color: $blue;
	border-color: $blue;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight{
	background-color: $blue;
	border-color: $blue;
	color: #fff;
}


#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
	height: 4px;
    width: 4px;
    margin: -2px 0 0 -2px;
    border-radius: 0;
    background: $blue;
    border-color: $blue;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	border-radius: 0;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: transparent;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border: 1px solid #8a7c7c;
    padding: 4px;
}

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    width: 4px;
    height: 4px;
    margin: -2px 0px 0px -2px;
}


.who-slide{
	.slick-prev, .slick-next{
		color: #000;
		font-size: 16px;
	}
	.slick-prev:before {
	  display: inline-block;
	  font: normal normal normal 14px/1 FontAwesome;
	  font-size: 21px;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  content: "\f104";
	  padding: 0;
	  color: #000;
	  opacity: 1;
	    padding-right: 25px;
	    top: 1px;
	    position: relative;
}

.slick-next:before{
	display:none;
}

.slick-next:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 21px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
  padding: 0;
	color: #000;
	opacity: 1;
	padding-left: 25px;
    top: 1px;
    position: relative;
}

.slick-next{
	left: 270px;
    top: 80%;
    transition: all 250ms ease;
    @media(max-width:767px){
		top: auto;
		bottom:0;
    }
    @media(max-width:480px){
		left:auto;
		right:0;
    }
}
.slick-prev{
	left: 18px;
    z-index: 1;
    top: 80%;
    transition: all 250ms ease;
    @media(max-width:767px){
		top: auto;
		bottom:0;
    }

    @media(max-width:480px){
		left:0;
    }
}

button.slick-next.slick-arrow{
	width:auto;
	height:auto;
	padding: 11px 30px;
	border-radius: 0;
}

button.slick-prev.slick-arrow{
	width:auto;
	height:auto;
	padding: 11px 18px;
	border-radius: 0;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next {
    background-color: #FFF;

}

}