@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Slab', serif;

body{
	// background:#f6f5f0;
	font-family: 'Roboto Slab', serif;
	color:#000;
	font-weight:400;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
// ul, li{
// 	list-style:none;
// 	padding:0;
// 	margin:0;

// }
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

p{
	line-height: 1.8em;
	font-size: 15px;
}

h1, h2, h3, h4, h5{
	font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* ANCHOR */ 
a{
	transition: all 250ms ease;
	&:hover,
	&:focus{
		text-decoration: none;
	}
}


