/*==========================================================================
  FOOTER
========================================================================== */

.foo-copy{
	padding: 5px 0 6px;
	background-color: #FFF;
	color: #616161;
	font-size: 13px;
	text-align: center;
	margin-bottom: 0;
	position: absolute;
	bottom:50px;
	left:0;
	right:0;
	width:100%;
	@media(max-width:922px){
		position:relative;
		bottom:0;
	}
}

.app-footer{
	padding: 5px 0;
	p{
		color: #616161;
		font-size: 13px;
		text-align: center;
		margin-bottom: 0;
	}
}