/*==========================================================================
  NAVIGATION
========================================================================== */

.app-header{
	width:100%;
	position: fixed;
	background: #fff;
	z-index:99;
	    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    // padding: 11px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.logo{
	float:left;
	    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height:40px;
    width:121px;
       padding-top: 14px;
	@media (max-width: 767px){
		position:relative;
		z-index: 9;
		margin-bottom: -39px;
		padding-top: 5px;
	}
}

.wrap-navi{
	float:right;
	.navbar{
		background: transparent;
		border:none;
		margin-bottom: 0;
	}
	.nav{
		
		li{
			&.socmed{
				-webkit-transition: all 0.3s;
						    -moz-transition: all 0.3s;
						    -ms-transition: all 0.3s;
						    -o-transition: all 0.3s;
						    transition: all 0.3s;
				padding-top: 25px;
				ul{
					@media(max-width:767px){
						padding-left: 20px;
					}
					li{
						display: inline-block;
						padding: 0 6px;
						&:last-child{
							padding-right: 0;
						}
						a{
							-webkit-transition: all 0.3s;
						    -moz-transition: all 0.3s;
						    -ms-transition: all 0.3s;
						    -o-transition: all 0.3s;
						    transition: all 0.3s;
						    padding:0;
							&:hover, &:focus{
								opacity: .6;
								border:none;
							}
						}
					}
				}
			}
			a{
				font-family: 'Montserrat', sans-serif;
				padding-top: 25px;
			    padding-bottom: 25px;
				padding-left: 15px;
			    padding-right: 15px;
			    margin-left: 6px;
    			margin-right: 6px;
			    @media(min-width:768px) and (max-width:992px){
					padding-left: 15px;
					padding-right: 15px;
					margin: 0;
			    }
			}
		}
	
		@media (max-width: 767px){
			float:none;
		}
		li{
			a{
				color:#212121;
				&:hover, &:focus{
					background: transparent;
					border-bottom: 3px solid $blue;
				}
			}
			&.active{
				a{
					background: transparent;
					border-bottom: 3px solid $blue;
					color: #000;
					&:hover{
						background-color: transparent;
					}
				}
			}
		}
	}

	@media (max-width: 767px){
		width:100%;
	}
	// .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	// 	background: transparent;
	// 	color: $blue;
	// }
	.navbar-collapse{
		padding: 0;
	}

	.navbar-toggle{
		background-color: $blue;
		border-color: $blue;
		&:hover, &:focus{
			background-color: #0c86bd;
		}
		.icon-bar{
			background: #000;
		}
	}
}

.smaller {
        -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
	padding: 0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



.smaller .logo{
	height: 42px;
    width: 88px;
   padding-top: 11px;
}




.pt{
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}

.pts{
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}